---
---

@import "{{ site.theme }}";

body {
    background-color: #353434;
    color:#dadada;
    font-weight:400;
  }

h1 {
    color:#dadada;
}


h2 {
    color:#B9B9B9;
}

h3, h4, h5, h6 {
    color:#A9A9A9;
}