---
---

@import "{{ site.theme }}";

body {
    background-color: #353535;
    color:#dadada;
    font-weight:400;
  }

h1 {
    color:#3d4a85;
}


h2 {
    color:#445394;
}

h3, h4, h5, h6 {
    color:#5668b9;
}